<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="user-form-card">

    <form id="addUserForm" class="user-form">
      <ion-list lines="full">

        <ion-item>
          <ion-label position="stacked">Nombre completo</ion-label>
          <ion-input type="text" name="name" [(ngModel)]="name" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input type="text" name="login" [(ngModel)]="user" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input type="tel" name="phone" [(ngModel)]="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
        </ion-item>

      </ion-list>

      <ion-button expand="block" (click)="adduser()" color="medium" class="ion-margin-top">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Crear usuario
      </ion-button>

      <ion-text id="statusMsg" color="medium" class="status-msg"></ion-text>
    </form>
  </ion-card>
</ion-content>

