<ion-header>
  <ion-toolbar color="light">
    <ion-title class="titulo-principal">Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-wrapper">
    <ion-card class="login-card">
      <ion-card-title class="titulo-destacado">Añadir Usuario</ion-card-title>
      <form id="addUserForm" class="user-form">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="stacked">Nombre completo</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Teléfono</ion-label>
            <ion-input type="tel" name="phone" [(ngModel)]="phone" required></ion-input>
          </ion-item>
        </ion-list>
          <ion-button expand="block" (click)="adduser()" color="primary" class="ion-margin-top" style="font-weight: bold; color:white">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          Crear usuario
          </ion-button>
        <ion-text id="statusMsg" color="medium" class="status-msg"></ion-text>
      </form>
    </ion-card>
  </div>
</ion-content>
